@import './typography';
@import './mixins';

.view-default {
  @include content-width;

  background-color: rgb(255, 255, 255);
  padding-top: 2em;
  display: flex;
  flex-direction: column;

  &__sorting {
    margin-left: auto;
    margin-bottom: 1em;
    padding-right: 1.5em;
  }
}

.btn {
  font-family: $primary-font;
      font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: .5em 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  border-top: .4em dashed;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent;
}